  @import url(https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz);
  @import url(https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic);
  @import url(https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700,400italic);

  body { font-family: 'Droid Serif'; }
  h1, h2, h3 {
    font-family: 'Yanone Kaffeesatz';
    font-weight: normal;
  }
  .remark-code, .remark-inline-code { font-family: 'Ubuntu Mono'; }

.footnote {
  position: absolute;
  bottom: 3em;
}

.remark-slide-number {
    bottom: 3px;
    font-size: 20px;
}

.remark-slide-content {
    font-size: 25px;
}

h1 {
    margin-top: 0;
}

img {
    margin-bottom: 0;
}

.caption {
    margin-bottom: 1em;
    text-align: center;
    font-size: 20px;
}

.chapterhead h1 {
    text-align: center;
    font-size: 100px;
}

